.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
    height: 80%;
    width: 50%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 100px; */
}
label{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Helvetica';
    /* margin: 10px; */
}
input{
    right: 0;
    height: 30px;
    width: 300px;
    float: right;
}